# Carpetas de compilación
bin/
obj/

# Configuración de Visual Studio Code
.vscode/

# Archivos de solución temporales
*.user
*.suo

# Archivos del sistema
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
